## Appledoc

doc
docs

## OS X

.DS_Store

## Other

.pt
Examples/ContentfulDeliveryAPI.zip
Examples/UFO.zip
compile_commands.json
.gutter.json

## Xcode

*.xccheckout
xcuserdata
.idea
build

## Carthage
Carthage
Stargate.framework.zip

## CocoaPods

Pods
